# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.c text eol=lf
*.h text eol=lf
Makefile text eol=lf

.gitattributes text eol=lf
.gitignore text eol=lf

*.md text eol=lf

*.png binary
*.jpg binary
